
.img{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUnufhJxmbJbSYfooE1t-3LHCS8me5I5iandlFcxmshvt8Kd5Aj8NUhAzx7O19uRG8KiQ&usqp=CAU');
   height: 110px;
   border-radius: 5px;
}
